-
    var common = {
        socialMedia: [{name: 'instagram', link: 'https://www.instagram.com/uaog_lutsk/'}, {name: 'facebook', link: 'https://www.facebook.com/uaoglutsk'}, {name: 'youtube', link: 'https://www.youtube.com/channel/UCkCntB7v-lZR9cW3E7VtYIQ'}],
        phoneNumber: '123456676',
        email: 'email@email.com'
    }
- 
    var ua = {
        title: 'Українська Асамблея Бога, м.Луцьк',
        menu: [{name: 'Про церкву', anchor: 'about'}, {name: 'Розклад', anchor: 'schedule'}, {name: 'Як нас знайти', anchor: 'map'}, {name: 'Контакти', anchor: 'contacts'}],
        addressTitle: 'Наша адреса',
        phoneTitle: 'Тел',
        emailTitle: 'Email',
        adminName: 'Аліна',
        city: 'м. Луцьк',
        addressValue: 'вул. Набережна 4',
        aboutChurchTitle: 'Християнська церква «Асамблея Бога',
        aboutChurchText: "<p>Ми спільнота людей, які вірять в Ісуса Христа, як свого Спасителя, в Бога Отця та Святого Духа. Ми віримо в триєдинство Бога.</p><p>Віримо, в те що покликані нести Євенглію в світ та проповідувати Христа.</p><p>Наша церква почала своє існування в 2008 році у місті Луцьк. Входимо в об‘єднання українських та російських Асамблей Бога.</p><p>Нічого так не об‘єднує людей, як віра, любов та спільна справа. За час існування церкви ми провели безліч недільних служінь, «Вечорів хвали та поклоніння», євангелізаційний проектів.</p><p>Нижче наведені доктрини Асамблеї Бога. Це принципи віри, які не підлягають запереченню, яких ми дотримуємось.  Чотири з них: <b>Спасіння, Хрещення Святим Духом, Божественне зцілення та Друге пришестя Христа</b> вважаються незмінними та беззаперечними доктринами, які мають важливе значення для основної місії церкви - досягнення світу для Христа</p>"
        }
- 
    var eng = {}
