-
    var common = {
        socialMedia: [{name: 'instagram', link: 'https://www.instagram.com/uaog_lutsk/'}, {name: 'facebook', link: 'https://www.facebook.com/uaoglutsk'}, {name: 'youtube', link: 'https://www.youtube.com/channel/UCkCntB7v-lZR9cW3E7VtYIQ'}],
        phoneNumber: '0 730 007 670',
        email: 'Uaogchurch@gmail.com',
        monobank: 'monobank',
        cardNumber: '5375 4141 0757 0474'
    }
-
    var ua = {
        title: 'Українська Асамблея Бога, м.Луцьк',
        menu: [{name: 'Початок', anchor: 'home'},{name: 'Про церкву', anchor: 'about'}, {name: 'Розклад', anchor: 'schedule'}, {name: 'Як нас знайти', anchor: 'map'}, {name: 'Контакти', anchor: 'contacts'}],
        addressTitle: 'Наша адреса',
        phoneTitle: 'Тел',
        emailTitle: 'Email',
        adminName: 'Аліна',
        city: 'м. Луцьк',
        addressValue: 'вул. Набережна 4',
        aboutChurchTitle: 'Християнська церква «Асамблея Бога»',
        aboutChurchText: "<p>Ми спільнота людей, які вірять в Ісуса Христа, як свого Спасителя, в Бога Отця та Святого Духа. Ми віримо в триєдинство Бога.</p><p>Віримо, в те що покликані нести Євенглію в світ та проповідувати Христа.</p><p>Наша церква почала своє існування в 2008 році у місті Луцьк. Входимо в об‘єднання українських та російських Асамблей Бога.</p><p>Нічого так не об‘єднує людей, як віра, любов та спільна справа. За час існування церкви ми провели безліч недільних служінь, «Вечорів хвали та поклоніння», євангелізаційний проектів.</p><p>Нижче наведені доктрини Асамблеї Бога. Це принципи віри, які не підлягають запереченню, яких ми дотримуємось.  Чотири з них: <b>Спасіння, Хрещення Святим Духом, Божественне зцілення та Друге пришестя Христа</b> вважаються незмінними та беззаперечними доктринами, які мають важливе значення для основної місії церкви - досягнення світу для Христа</p>",
        scheduleTitle: 'Розклад служінь',
        scheduleArrayColumn1: [{day: 'Понеділок', schedule: ["<span class='schedule_time'>19:00, 20:00</span> домашні групи"]}, {day: 'Середа', schedule: ["<span class='schedule_time'>19:00</span> молитва"]}, {day: 'П‘ятниця', schedule: ["<span class='schedule_time'>18:00</span> «Ми+ teens»", "<span class='schedule_time'>20:00</span> нічна молитва (остання п‘ятниця кожного місяця)"]}],
        scheduleArrayColumn2: [{day: 'Субота', schedule: ["<span class='schedule_time'>11:00</span> «Ми+ kids»"]}, {day: 'Неділя', schedule: ["<span class='schedule_time'>11:00</span> загальноцерковне служіння/богослужіння/ недільна школа", "<span class='schedule_time'>18:00</span>  молодіжне служіння «Skyfall»"]}],
        leadersArray: [{husband: {name: 'Семенюк Сергій', insta:'https://instagram.com/sergesemenyuk?igshid=12amdtetomlu9'}, wife: {name: 'Семенюк Катерина', insta:'https://instagram.com/semenyukkatherine?igshid=15vgph505spcz'}, img: './img/Semenuk'},{husband: {name: 'Назарчук Ігор', insta:'https://instagram.com/_igornazarchuk?igshid=qgqmiavxso4j'}, wife: {name: 'Назарчук Інна', insta:'https://instagram.com/nazarchukinna?igshid=1b467t2dnf0n4'}, img: './img/Nazarchuk'},{husband: {name: 'Груша Дмитро', insta:'https://instagram.com/dimagrusha?igshid=1jy2qncrma5mo'}, wife: {name: 'Груша Аліна', insta:'https://instagram.com/alina__grusha?igshid=192l829lxhwst'}, img: './img/Hrusha'}],
        newBuildingTitle: 'Я будую свою церкву',
        newBuildingOfferings: 'Пожертвування',
    }
-
    var eng = {}
