-
    var common = {
        socialMedia: [{name: 'instagram', link: 'https://www.instagram.com/uaog_lutsk/'}, {name: 'facebook', link: 'https://www.facebook.com/uaoglutsk'}, {name: 'youtube', link: 'https://www.youtube.com/channel/UCkCntB7v-lZR9cW3E7VtYIQ'}],
        phoneNumber: '123456676',
        email: 'email@email.com'
    }
- 
    var ua = {
        title: 'Українська Асамблея Бога, м.Луцьк',
        menu: [{name: 'Про церкву', anchor: 'about'}, {name: 'Розклад', anchor: 'schedule'}, {name: 'Як нас знайти', anchor: 'map'}, {name: 'Контакти', anchor: 'contacts'}],
        addressTitle: 'Наша адреса',
        phoneTitle: 'Тел',
        emailTitle: 'Email',
        adminName: 'Аліна',
        city: 'м. Луцьк',
        addressValue: 'вул. Набережна 4',

    }
- 
    var eng = {}
