.about {
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1.5em;
    position: relative;

    &_image {
        position: absolute;
        top: 40px;
        left: 0;
        width: calc(50% - 1rem);
    }
}