.leaders {
    padding: 60px 0;

    @include respond-to(mobile) {
        padding: 30px 0;
    }

    &_item {
        text-align: center;

        @include respond-to(mobile) {
            padding: 10px 0;
        }


    }
    &_link {
      position: absolute;
      display: block;
      height: 100%;
      width: 50%;
      top: 0;
      text-decoration: none;
      color: $grey;

    }
    .name {
      display: block;
      text-align: left;
      font-size: 16px;

      @include respond-to (desktop-medium) {
        &--wife {
          max-width: 95px;
        }
        &--husband {
          left: -25%;
          top: 0;
        }
      }


      @include respond-to (desktop-medium) {
        position: absolute;
      }

      .position {
        display: block;
        font-weight: 300;
      }

      &:hover {
        .name-line {
          text-decoration: underline;
        }
      }
    }

    &--wife {
      right: 0;
    }
    &--husband {
      left: 0;
    }
    &_item:nth-child(1) {
      .name {
        &--wife {
          top: 30%;
          right: -38%;
        }
      }
    }

    &_item:nth-child(2) {
      .name {
        @media screen and (max-width: 1299px) {
          margin-left: 10%;
        }
        @include respond-to (desktop-medium) {
          &--wife {
            top: 14%;
            right: -30%;        
          }
        }
      }
    }
    &_item:nth-child(3) {
      .leaders {
        &_link {
          &--wife {
            left: 0;
            width: 44%;
          }
          &--husband {
            left: auto;
            right: 0;
            width: 56%;
          }
        }
      }
      .name {
        &--wife {
          left: -35%;
          top: 15%;

          @include respond-to(mobile) {
            left: -68%;
          }
        }
        &--husband {
          left: auto;
          right: -5%;
          top: -40px;

          @include respond-to(mobile) {
            right: -31%;
            top: -22px;
          }
        }
      }
    }
    &_name {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
        color: $jewel;
        font-size: 20px;

        @include respond-to(mobile) {
            font-size: 18px;
        }

    }

    &_text {
        text-transform: uppercase;
    }

    &_photos {
        position: relative;
        margin-top: 10px;
        display: inline-block;
        cursor: pointer;
        &:hover {
            & > .leaders_img-hover {
                display: block;
                height: 100%;
            }
        }
    }

    &_img {
        max-width: 100%;
        max-height: 500px;
        margin: 0 auto;

        @include respond-to(mobile) {
            max-height: 400px;
        }

        &-hover {
            position: absolute;
            top: 0;
            display: none;
            left: 50%;
            transform: translateX(-50%)
        }
    }
}
