.leaders {
    padding: 60px 0;

    @include respond-to(mobile) {
        padding: 30px 0;
    }

    &_item {
        text-align: center;

        @include respond-to(mobile) {
            padding: 10px 0;
        }


    }
    &_link {
      position: absolute;
      display: block;
      height: 100%;
      width: 50%;
      top: 0;
      text-decoration: none;
      color: $grey;

      span {
        display: block;
        position: absolute;
        text-align: left;
        font-size: 16px;
      }

      &--wife {
        right: 0;

        span {
          max-width: 95px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      &--husband {
        left: 0;

        span {
          left: -45%;
          top: 0;

          @include respond-to(mobile) {
            left: -68%;
          }
        }
      }
    }
    &_item:nth-child(1) {
      .leaders {
        &_link--wife {
          span {
            top: 30%;
            right: -68%;

            @include respond-to(mobile) {
              right: -85%;
            }
          }
        }
      }
    }

    &_item:nth-child(2) {
      .leaders {
        &_link--wife {
          span {
            top: 14%;
            right: -47%;        

            @include respond-to(mobile) {
              top: 11%;
              right: -71%;
            }
          }
        }
      }
    }
    &_item:nth-child(3) {
      .leaders {
        &_link {
          &--wife {
            left: 0;
            width: 44%;

            span {
              left: -35%;
              top: 15%;

              @include respond-to(mobile) {
                left: -68%;
              }
            }
          }
          &--husband {
            left: auto;
            right: 0;
            width: 56%;

            span {
              left: auto;
              right: -13%;
              top: -25px;

              @include respond-to(mobile) {
                right: -31%;
                top: -22px;
              }
            }
          }
        }
      }
    }
    &_name {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
        color: $jewel;
        font-size: 20px;

        @include respond-to(mobile) {
            font-size: 18px;
        }

    }

    &_text {
        text-transform: uppercase;
    }

    &_photos {
        position: relative;
        margin-top: 10px;
        display: inline-block;
        cursor: pointer;
        &:hover {
            & > .leaders_img-hover {
                display: block;
                height: 100%;
            }
        }
    }

    &_img {
        max-width: 100%;
        max-height: 500px;
        margin: 0 auto;

        @include respond-to(mobile) {
            max-height: 400px;
        }

        &-hover {
            position: absolute;
            top: 0;
            display: none;
            left: 50%;
            transform: translateX(-50%)
        }
    }
}
