.building {
    position: relative;
    background: rgb(255,127,175);
    background: linear-gradient(90deg, rgba(255,127,175,1) 0%, rgba(255,127,175,1) 35%, rgba(255,255,255,1) 100%);

    @include respond-to(desktop) {
        height: 400px;
    }
    .container-fluid, .row {
        height: 100%;
    }
    &_image {
        position: absolute;
        top: 0;
        left: 0;

        @include respond-to(desktop) {
            height: 100%;
        }

        @include respond-to(mobile) {
            position: static;
            margin-bottom: 15px;
            width: 100%;
            display: none;
        }
    }

    &_content {
        display: flex;
        align-items: center;
        color: #fff;
        padding: 6% 0;
        height: 100%;
    }
    &_title {
        text-transform: uppercase;
        font-size: 58px;
        font-weight: bold;
        max-width: 350px;
        line-height: 1.3;

        @include respond-to(mobile) {
            font-size: 48px;
        }
    }
    &_offering {
        align-self: flex-end;
        margin-left: 10%;
        text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    }
    &_offering-title {
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
    }
    &_offering-card {
        font-size: 22px;
        font-weight: bold;
    }
    &_offering-bank {
        font-size: 16px;
        font-weight: 300;
    }
}