.schedule {
    padding: 60px 0;
    color: $white;
    background: black;
    background: url("../img/schedule-background-1.jpg") no-repeat;
    background-size: cover;

    @include respond-to(mobile) {
        padding: 30px 0;
    }

    .title {
        text-align: center;
    }

    &_list {
        padding-bottom: 20px;
        padding-top: 20px;

        @include respond-to(mobile) {
            width: 50%;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @include respond-to (phones){
            width: 100%;
        }
    }

    &_item {
        font-size: 20px;
        line-height: 1.5em;
        display: flex;
        text-shadow: 1px 1px 2px $grey;
        text-transform: uppercase;
        font-weight: 200;

        &--title {
            font-size: 22px;
            margin-bottom: 5px;
            font-weight: 500;
        }
    }

    &_time {
        margin-right: 20px;
        font-weight: 500;
    }

}
