.schedule {
    padding: 60px 0;
    color: $white;
    background: black;
    background: url("../img/schedule-background.jpg") no-repeat;
    background-size: cover;

    @include respond-to(mobile) {
        padding: 30px 0;
    }

    .title {
        text-align: center;
    }

    &_list {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    &_item {
        font-size: 20px;
        line-height: 1.5em;
        display: flex;
        text-shadow: 1px 1px 2px $grey;
        text-transform: uppercase;

        &--title {
            font-size: 22px;
            margin-bottom: 5px;
        }
    }
    
    &_time {
        margin-right: 20px;
        font-weight: 700;
    }

}