section.about.container-fluid
    .row
        img.about_image.col-xs-12.col-md-6(src='./img/assemby-group-photo.jpg', alt=locale.title)
        .col-xs-12.col-md-6 
            h2.about_title=locale.aboutChurchTitle
            .about_article !{locale.aboutChurchText}