.footer
    p Assembly of God, Lutsk
    ul.footer_social.social
        each obj in common.socialMedia
            li.social_item
                a(href=obj.link, target="_blank").social_link
                    +icon(obj.name, `social_icon social_icon-${obj.name}`)



script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="libs/bootstrap/js/bootstrap.min.js")
script(src="js/common.js")
