header.header
    .container-fluid
        .header_wrapper.row.middle-md
            .header_logo-wrapper.col-md-3.col-xs-9
                img.header_logo(src="./img/logo-white.png", alt="Assembly of God logo")
            nav.header_nav.nav.col-xs-12.col-md-6
                ul.navigation
                    each obj in locale.menu
                        li.navigation_item
                            a(href='#'+obj.anchor).navigation_link= obj.name
            ul.header_social.social.col-xs-12.col-md-3.mobile-hide
                each obj in common.socialMedia
                    li.social_item
                        a(href=obj.link, target="_blank").social_link
                            +icon(obj.name, `social_icon social_icon-${obj.name}`)
            .col-xs-3.header_humburger-wrapper          
                .desktop-hide.header_humburger.menu-humburger.js-humburger
                    - var n = 0
                    while n <= 3
                        span.menu-humburger_line
                            - n++
.video
    video.video_player(autoplay, loop, muted)
        source(src="./video/assembly.mp4", type="video/mp4", muted)
