extends ../layout/layout.pug

block vars
	include ../includes/variables.pug
	- var locale = ua

block header
	include ../components/header.pug
block content
	include ../components/content-wrapper.pug
block footer
	include ../components/footer.pug     
              
