@import "normalize";
@import "variables";
@import "fonts";
@import "mediaqueries";
@import "components/header";
@import "components/map";
@import "components/leaders";
@import "components/about";
@import "components/schedule";
@import "components/social";
@import "components/footer";

body {
  background: $white;
  font-family: 'Formular', 'Arial', sans-serif; 
  font-weight: 500; 
  font-style: normal;
  font-size: 14px;
}

.container-fluid {
  max-width: $container-max-width;
}

.title {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 10px;
}

.desktop-hide {
  @include respond-to(desktop) {
    display: none;
  }
}

.mobile-hide {
  @include respond-to(mobile) {
    display: none;
  }
}